.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

/*Section of the title*/
.titleBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    align-self: flex-start;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.subtitle {
    font-size: 1rem;
    color: var(--text-secondary-color);
}

/*Services list*/
.servicesListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.serviceCard {
    background: var(--primary--on--secondary--bg);
    border: 2px solid var(--border);
    border-radius: 14px;
    padding: 1rem;
    width: 48%;
    cursor: pointer;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.15s ease;
}

.serviceCardContent {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.serviceCardTitle {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    transition: all 0.15s ease;
}

.serviceCardPrice {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary);
}

.serviceCardSecondRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.serviceCardDurationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.clock {
    color: var(--text-secondary-color);
}

.duration {
    font-size: 0.9rem;
    color: var(--text-secondary-color);
}

.sparkles {
    color: var(--primary-dimmed);
}

.serviceCard:hover {
    transition: all 0.15s ease;
    border-color: var(--primary);
    .serviceCardTitle {
        color: var(--primary);
    }
}
