/* Paletes */
:root {
    --bg-color: #fefbfd;
    --text-color: #272727;
    --text-secondary-color: #555555;
    --primary: #d44996;
    --primary-dimmed: #ff93ce9d;
    --primary--on--secondary--bg: #ffffff;
}

/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    transition: background 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#root {
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 1rem 0 0 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem 0 0 0;
    }
}
